
 <button [routerLink]="['/add']">Ajouter un produit</button>
<!-- <div class="container">
    <div>
      <ul>
        <li *ngFor="let produit of productsToDisplay">{{ produit.nom }}</li>
      </ul>
    </div>
  </div> -->


  <!-- <table class="liste_produits">
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let produit of productsToDisplay">

        <td>{{produit.id}}</td>
        <td>{{produit.nom}}</td>
        <td>{{produit.prix}}</td>
        <td>{{produit.quantite}}</td>
        <td><button [routerLink]="'/editer_produit/'+produit.id">Editer</button><button (click)="delete(produit.id)">Supprimer</button></td>
    </tr>
</table> -->

